<nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>Têm</th>
        <th>Số Lượng</th>
        <th>Tình trạng</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of listOfData ">
        <td>{{ data.roomName }}</td>
        <td>{{ data.quantity }}</td>
        <td>{{ data.description }}</td>
        <td>
          <nz-divider nzType="vertical"></nz-divider>
          <a>Delete</a>
        </td>
      </tr>
    </tbody>
  </nz-table>

